h1 {
    font-weight: 300;
    text-align: center;
    animation: fadeIn 0.75s;
}

.wrapper {
    margin: auto;
    padding: 16px 8px;
}

.title-top-wrapper {
    font-weight: 300;
    text-align: center;
}

.title-description {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    animation: fadeIn 0.75s;
}

.title-mid-wrapper {
    font-weight: 300;
    text-align: center;
}

.top-image {
    height: 100%;
    width: 100%;
    animation: fadeIn 0.75s;
}

.top-image #top-image {
    margin: 16px auto 16px;
    display: block;
    max-width: 90%;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 8px;
    }
    .title-top-wrapper {
        font-size: 36px;
    }

    .title-description {
        font-size: 13px;
    }

    .top-image #top-image {
        margin: 16px auto 16px;
        max-width: 100%;
    }
}